

.frame {
	position: center;
	width: 400px;
	height: 400px;
	margin :auto;
	margin-top: 10%;
	border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
	background: orangered;
	color: #333;
	font-family: "Open Sans", Helvetica, sans-serif;
	text-align: center;
}

.center {
	position: left;
	margin-left: 200px;
  	margin-top: 200px;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 320px;
	border-radius: 3px;
	box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}

.title {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #999;
	text-align: center;
}
 .submit {
	color: black;
	border-color: aqua;
 }






